{% extends 'base.html' %}
{% block title %}book details{% endblock title %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'book_list'%}">book list</a></li>
<li class="breadcrumb-item active">{{book.title}}</li>
{% endblock breadcrumb %}
{% block content %}
<div class='row'>
    <div class="main col-md-4" >
        <div class='card'>
            <p class="card-title"><b>Title:</b> {{book.title}}</p>
            <img src="{{book.cover.url}}" class="card-img-top" alt="...">
            {% for author in book.author.all %}
            <p class="card-title"><b>Written By:</b> {{author}},</p>
            {% endfor %}
            <p class="card-text"><b>Published on:</b> {{book.pub_date}}</p>
            <h6 style=color:green;>Only For ${{book.price}}!</h5>
            {% if request.user.is_authenticated %}
            {% if item  %}
                <a class="card-footer btn btn-warning" href="{% url 'remove_from_cart' book.slug %}">remove from cart</a>
            {% else %}
                <a class="card-footer btn btn-warning" href="{% url 'add_to_cart' book.slug %}">add to cart</a>
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="aside col-md-8" >
        <div class="card"> 
            <h3 class="card-header">Chapters</h3>
            <ul class="list-group list-group-flush">
            {% for chapter in book.chapter_set.all %}
                <a href="{{chapter.get_absolute_url}}"><h5 class="card-header">Chapter {{chapter.chapter_number}}: {{chapter.title}}</h5></a>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>

{%endblock content%}