{% extends 'base.html' %}
{% block title %}books{% endblock title %}
{% block content %}
    <h1 class='text-center'>Browse our Books!</h1>
    <br/>
    <div class="row">
        {% for book in book_list %}
        {% for author in book.author.all %}
            <div class='col-4'>
                <div class="card" style="width: 18rem;">
                    <img src="{{book.cover.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h3 class="card-title">{{book.title}}</h3>
                    <h4 class="card-title">Written By: <br/>{{author}}</h4>
                    <h5 class="card-title">Only ${{book.price}}!</h5>
                    <a href="{% url 'chapter_detail' book.slug 1 %}" class="btn btn-primary">more info!</a>
                    </div>
                </div>
            </div>  
        {% endfor %}
        {% endfor %}
    </div>
{% endblock content %}
