{% extends 'base.html' %}
{% block title %}{{chapter.title}}{% endblock title %}
{% block breadcrumb %}
    <li class="breadcrumb-item">->{{tr}}</li>
    <li class="breadcrumb-item"><a href="{% url 'book_list'%}">book list</a></li>
    <li class="breadcrumb-item"><a href="{{chapter.book.get_absolute_url}}">{{chapter.book.title}}</a></li>
    <li class="breadcrumb-item active">{{chapter.title}}</li>
{% endblock breadcrumb %}
{% block content %}

<div class='row'>
    <div class="main col-md-4" >
      {% include 'book_snippet.html' with book=chapter.book %}
    </div>
    <div class="aside col-md-8" >
        <div class="card"> 
            <h3 class="card-header">Exercises</h3>
            <ul class="list-group list-group-flush">
            {% for exercise in chapter.exercise_set.all %}
                <a href="{{exercise.get_absolute_url}}"><h5 class="card-header">Exercise {{exercise.exercise_number}}: {{exercise.title}}</h5></a>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock content %}