{% extends 'base.html' %}
{% load static %}
{% block title %}{{exercise.title}}{% endblock title %}
{% block breadcrumb %} 
    <li class="breadcrumb-item"><a href="{% url 'book_list'%}">book list</a></li>
    <li class="breadcrumb-item"><a href="{{exercise.chapter.book.get_absolute_url}}">{{exercise.chapter.book.title}}</a></li>
    <li class="breadcrumb-item"><a href="{{exercise.chapter.get_absolute_url}}">{{exercise.chapter.title}}</a></li>
    <li class="breadcrumb-item active">{{exercise.title}}</li>
{% endblock breadcrumb %}
{% block content %}

<div class='row'>
    <div class="main col-md-4" >
        <div class='card'>
            <img src="{{exercise.chapter.book.cover.url}}" class="card-img-top" alt="...">
            <br/>
            <h4 class="card-title">Exr {{exercise.exercise_number}}: {{exercise.title}}</h4>
            {% for author in exercise.chapter.book.author.all %}
            <h5 class="card-title">Written By: {{author}},</h5>
            {% endfor %}
            <h6 class="card-text">Published on: {{exercise.chapter.book.pub_date}}</h4>
            <h6 style=color:green;>Only For ${{exercise.chapter.book.price}}!</h5>
        </div>
    </div>
    <div class="aside col-md-8" >
        <div class="card">
            <h3 class="card-header">Solutions</h3>
                {% if exercise.chapter.book in request.user.UserLibrary.book_list  %}
                {% for solution in exercise.solution_set.all %}
                    <div class="accordion" id="toggle{{solution.sol_number}}">
                        <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Solution {{solution.sol_number}}
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#toggle{{solution.sol_number}}">
                            <div class="accordion-body">
                                <img class="img-fluid" src="{{solution.image.url}}" alt="">
                            </div>
                        </div>
                        </div>
                    </div>    
                {% endfor %}
                {% else %}
                    <div class="text-center">
                        <h4>You must purchase this book to view the solutions.<br/>
                            <a href="#">Purchase this book</a></h4>
                        <img src="{% static 'stop_hand.webp' %}" height="" alt="">
                    </div>               
                {% endif %}
        </div>
    </div>
</div>

{% endblock content %}