{% extends 'base.html' %}
{% block title %}{{exercise.title}}{% endblock title %}
{% block breadcrumb %} 
    <li class="breadcrumb-item"><a href="{% url 'book_list'%}">book list</a></li>
    <li class="breadcrumb-item"><a href="{% url 'book_detail' exercise.chapter.book.slug %}">{{exercise.chapter.book.title}}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'chapter_detail' exercise.chapter.book.slug exercise.chapter.chapter_number %}">{{exercise.chapter.title}}</a></li>
    <li class="breadcrumb-item active">{{exercise.title}}</li>
{% endblock breadcrumb %}
{% block content %}
<h1>This is exercise #{{exercise.exercise_number}}: {{exercise.title}}</h1>
{% endblock content %}